body {
    font-family: Arial, Verdana, sans-serif;
}

.nav-bar{
    width: auto;
    height: auto;
    background-color: #2A2B2E;
}

div.container{
    text-align: center;
}

ul.recipe-list{
    display: inline-block;
    text-align: left;
}

#home-title{
    padding: 10px auto 10px auto;
    color: white;
}

h1 {
    text-align: center;
    font-size: 15px;

}

.recipes{
    background-color: #fae0e0;
    padding: 5px;
    margin: 5px auto;
    width: 300px;
    text-align: center;
    list-style-type: none;
    border-style:groove;
}

img {
    width: 500px;
    height: 300px;
    display: block;
    object-fit: cover;
    margin: 20px auto;
}

.soba .title{
    color:rgb(177, 92, 52);
    background-color: #E4EDD4;
}

.french .title{
    background-color:lightyellow;
    color:orange;
}
.eggplant .title{
    background-color: pink;
    color: purple;

}

.main-content{
    padding: 5px 15px;
}

li{
    padding: 2px 0;
}